* {
  box-sizing: border-box;
}
body{
    background-color: black;
}
.flexy{
 display: flex;
 background-color: black;
 flex-direction: row;
 font-size: 30px;
 
}
.headline{
    background-color: whitesmoke;
    margin-right: -5px;
    padding: 40px;
    border-radius: 10px;
    margin-top: -20px;
    font-size: 400%;
}


.pages{
    padding: 1px;
    background-color: whitesmoke;
    flex: 100%;
    border-radius: 1px;
    margin-top: -20px;
    margin-bottom: -15px;
    font-size: 150%;
}
.pages-left{
    padding: 10px;
    background-color: whitesmoke;
    flex: 30%;
    border-radius: 10px;
    margin-top: -25px;
    margin-right: 5px;
     font-size: 150%;
}
.pages-right{
    padding: 10px;
    background-color: whitesmoke;
    flex: 40%;
    border-radius: 10px;
    margin-top: -20px;
    font-size: 150%;
}

.primg{
    
    margin-left: 5px;
    margin-right: 40px;
    margin-top: -30px;
    margin-bottom: 30px;
}