* {
  box-sizing: border-box;
}
.flexy{
 display: flex;
 background-color: black;
 flex-direction: row;
 font-size: 30px;
 
}
.headline{
    background-color: aqua;
    margin-right: 20px;
    padding: 10px;
    border-radius: 60px;
}

.pages{
    padding: 10px;
    background-color: white;
    flex: 50%;
    border-radius: 1px;
    height: auto;
    
}


.primg{
    padding: 10px;
    background-color: aquamarine;
}