.quee{
    margin-right: 50px;
    margin-top: 20px;
    text-align: center;
    color: whitesmoke;
}
body{
    background-color: black;
}
.box{
     background-color: black;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin: 75px auto;
    
}
.buttondiv{
    text-align: center;
    margin: 25px
}
.button{
    background-color: black;
    color: white;
    padding: 30px;

    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 200%;

}
.rim{
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    display: inline-block;
}
.button:hover{
    background-color: black;
    color: red;
    transform: scale(1.5);
}
/* up here is the code for index.html  */
/* below is the code for page1.html */

