@font-face {font-family:"Braille";src:url("braille.eot?") format("eot"),url("braille.woff") format("woff"),url("braille.ttf") format("truetype"),url("braille.svg#BrailleReg") format("svg");font-weight:normal;font-style:normal;}

.Back{
background-color: black;

}
body{
  cursor: url(),auto;
}
.title{
color: red;
text-align: center;
font-size: 100px;
}


/* eyes */
a { text-decoration: none; }
.eyes{
transition: transform .2s;
}

.container {
  /* You can set this to whatever you wish. */
  width: auto;
  
  /* You'll need to set a height. */
  height: auto;
  
  /* Allows positioning relative to this container. */
  position: relative;
  
  /* For clarity. */
  border: 20px solid red;
}
/* lungs */









/* heart */


/* hand */
.hand{
 font-family: Braille;
}



/* position */
.box {
  position: absolute;
  
}
.box :hover{
    transform: scale(4);
}

.box#one {
  width: 90px;
  height: 60px;
  background: red;
   font-size: 75px;
  top: 300px;
  left: 300px;
  
}

.box#two {
  width: 90px;
  height: 100px;
  background: brown;
  font-size: 75px;
  top: 150px;
  right: 240px;
}

.box#three {
  width: 120px;
  height: 120px;
  background: purple;
  font-size: 75px;
 top: 400px;
  right: 300px;
}

.box#four {
  width: 150px;
  height: 160px;
  background: yellow;
   font-size: 75px;
  top: 603px;
  left: 400px;
}