/* .background{
    width: 600px;
    height: 400px;
    
    background-image: url(images/);
    background-repeat: no-repeat;
    background-position: right;
} */
/* 
Dark green    #3c8453
Sandy beige   #bcaa96
Dark gray     #222222
Light gray    #d3d4d6
Off-white     #f6f6f6  
*/

/* global style
--------------------------------- */
/* 
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html,body{
    height: 100%;
    margin: 0;
}
body{
    background:#f6f6f6;
 }
 /* links */
 .btn {
    background: #3c8453;
    color: #f6f6f6;
    text-decoration: none;
}

 a{
    color:#3c8453;
 }
 a:hover{
    color:#bcaa96;
    text-decoration: none;
 }

*{
    color:brown;
}
/* id uses # while class uses .  */
#title{
    color: black;

}
.content{
    margin:0 auto;
    padding: 10px;
   max-width: width;
}

/* HOME
---------------------------------- */
.home{
    background-color: #222;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.home .content{
   
    flex: 1 0 auto;
}
.content-bg{
    background: rgb(255 255 255/ 0.9);
    padding: 30px;
}
.first{
    font-size: 24px;

}
article p:first-of-type{
    color: black;

}

/* RESUME
----------------------------------- */
.atitle{
    text-align: left;
    
}
.dLink{
    position: fixed;
    top: 5px;
    left: 5px;
}
.resume{
    background-color: #222;
}

.resume2{
    background-color: #222;
}
.resume3{
    background-color: #222;
}

.resume header::before{
    background: url(../images/Crude_bg.png) center; 
    background-size: cover;
    content: "";
    display: block;
    height: 375px;
}

.resume2 header::before{
    background: url(../images/Still_bg.png) center; 
    background-size: cover;
    content: "";
    display: block;
    height: 375px;
}
.resume3 header::before{
    background: url(../images/Ouroboros_bg.png) center; 
    background-size: cover;
    content: "";
    display: block;
    height: 375px;
}
.resume-section{
    margin-bottom: 50px;

}

.resume2-section{
    margin-bottom: 50px;

}

.resume-section h2{
    border-bottom: 2px ridge red;


}
.resume2-section h2{
    border-bottom: 2px ridge red;


}

/* work Experience 
----------------------------------------- */
.work-item{
    display: grid;
    grid-template-columns: 300px 2 fr;
    column-gap: 15px;
}


/* 
PROFILE
--------------------------------------- */
project-item{
    display: flow-root;

}
project-item img{
    width: 300px;
    float: left;
    margin-right: 30px 0;

}
/* FOOTER 
--------------------------------------------------*/
footer{
    background: #222;
    color: #d3d4d6;
    display: flex;
    justify-content: space-between;
    padding: 0 2px;
}
footer a{
    color:#bcaa96;
}
footer a:hover{
    color:#3c8453;
    text-decoration: none;
 }
.socials{
    list-style-type: none;
    padding:0;
}
.socials li{
    display: inline-block;
    margin-left: 10px;
}
.socials img{
width: 32px;
}
.socials img:hover{
    opacity: 0.5;

}
