@font-face {font-family:"Braille";src:url("braille.eot?") format("eot"),url("braille.woff") format("woff"),url("braille.ttf") format("truetype"),url("braille.svg#BrailleReg") format("svg");font-weight:normal;font-style:normal;}

.Back{
background-color: black;

}
.back#point{
  height: 100vh;
  cursor: url('../images/pointer.png'),auto;
  
}
.back#point *:hover{
  height: 100vh;
  cursor: url('../images/pointer.png'),auto;
  
}

.back#lit{
  height: 100vh;
  cursor: url('../images/cigar.png'),auto;
  
}
.back#lit *:hover{
  height: 100vh;
  cursor: url('../images/cigar.png'),auto;
  
}

.yes{
  color: yellow;
  background-color: yellow;
  border-radius: 0px;
    width: 40px;
    height: 20px;
}

.title{
color: red;
text-align: center;
font-size: 100px;
}


/* eyes */
a { text-decoration: none; 
  color: red;
}
.eyes{
transition: transform .2s;
}

.container {
  /* You can set this to whatever you wish. */
  width: auto;
  
  /* You'll need to set a height. */
  height: auto;
  
  /* Allows positioning relative to this container. */
  position: relative;
  
  /* For clarity. */
  border: 20px solid red;
}
/* lungs */











/* heart */
.heart{
  animation: beats .5s infinite alternate;
}
@keyframes beats{
  0%{opacity: 0;}
 
  100%{opacity: 1;}
}


/* hand */

.hand{
 font-family: Braille;
 color: red;
}
.hand:link{
  color: red;
}
.hand:hover{
  animation: change-color 1s infinite alternate;
  
}
@keyframes change-color{
    0% {background-color: green;}
    25%{background-color: yellow;}
    50%{background-color: purple;}
    75%{background-color: red;}
    100%{background-color: pink;}

}



/* position */
.box {
  position: absolute;
  
}
.box :hover{
    transform: scale(1.5);
}

.box#one {
  width: 290px;
  height: 10px;
  
   font-size: 75px;
  top: 300px;
  left: 100px;
  
}

.box#two {
  width: 290px;
  height: 100px;
  
  font-size: 75px;
  top: 150px;
  right: 850px;
}

.box#three {
  width: 290px;
  height: 120px;
  
  font-size: 75px;
 top: 800px;
  right: 600px;
}

.box#four {
  width: 290px;
  height: 160px;
  
   font-size: 75px;
  top: 703px;
  left: 400px;
}